<mat-accordion>
  <mat-expansion-panel *ngIf="hasSongs()" [expanded]="searchResult?.songs?.length>0">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Songs
      </mat-panel-title>
      <mat-panel-description>
        {{searchResult?.songs.length}} Songs containing {{searchResult?.query}} <span *ngIf="searchResult?.limited">&nbsp;(limited)</span>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-song-list [songs]="searchResult.songs" [embedded]="true"></app-song-list>
  </mat-expansion-panel>
  <mat-expansion-panel *ngIf="hasArtists()">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Artists
      </mat-panel-title>
      <mat-panel-description>
        {{searchResult?.artists.length}} Artists containing {{searchResult?.query}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-artist-list [artists]="searchResult.artists"></app-artist-list>
  </mat-expansion-panel>
  <mat-expansion-panel *ngIf="hasAlbums()">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Albums
      </mat-panel-title>
      <mat-panel-description>
        {{searchResult?.albums.length}} Albums containing {{searchResult?.query}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-album-list [albums]="searchResult.albums"></app-album-list>
  </mat-expansion-panel>
</mat-accordion>
