<mat-list dense>
  <h3 mat-subheader>Statistics</h3>
  <mat-list-item class="clickable" (click)="goto('/song')">
    <mat-icon mat-list-icon>library_music</mat-icon>
    <h4 mat-line>Songs in library</h4>
    <p mat-line> {{info.songCount}} </p>
  </mat-list-item>
  <mat-list-item class="clickable" (click)="goto('/album')">
    <mat-icon mat-list-icon>album</mat-icon>
    <h4 mat-line>Albums in library</h4>
    <p mat-line> {{info.albumCount}} </p>
  </mat-list-item>
  <mat-list-item class="clickable" (click)="goto('/artist')">
    <mat-icon mat-list-icon>people</mat-icon>
    <h4 mat-line>Artists in library</h4>
    <p mat-line> {{info.artistCount}} </p>
  </mat-list-item>
  <mat-list-item class="clickable" (click)="goto('/playlist')">
    <mat-icon mat-list-icon>featured_play_list</mat-icon>
    <h4 mat-line>Playlists in library</h4>
    <p mat-line> {{info.playlistCount}} </p>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>face</mat-icon>
    <h4 mat-line>Users</h4>
    <p mat-line> {{info.userCount}} </p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <h3 mat-subheader>Recently added songs</h3>
  <mat-list-item class="clickable" *ngFor="let song of info?.songsRecentlyAdded" (click)="playSong(song)">
    <mat-icon mat-list-icon>music_note</mat-icon>
    <h4 mat-line>{{song.title}}</h4>
    <p mat-line> {{song.artist?.name}} </p>
  </mat-list-item>
</mat-list>

