<mat-button-toggle-group class="full-width" name="type" aria-label="Playlisttype" *ngIf="isNew()">
  <mat-button-toggle value="query" [checked]="kind===KIND_QUERY" (click)="kind=KIND_QUERY">With query</mat-button-toggle>
  <mat-button-toggle value="empty" [checked]="kind===KIND_EMPTY" (click)="kind=KIND_EMPTY">Manual selection</mat-button-toggle>
</mat-button-toggle-group>
<form class="edit-playlist-form">
  <mat-form-field class="full-width" hideRequiredMarker>
    <input matInput placeholder="Name" #name required>
  </mat-form-field>

  <mat-form-field class="full-width" *ngIf="kind===KIND_QUERY">
    <input matInput placeholder="Query" #query>
  </mat-form-field>

  <button mat-flat-button color="primary" (click)="save()">
    <mat-icon>done</mat-icon>
    Save
  </button>
  <a mat-flat-button routerLink="/playlist"><mat-icon>undo</mat-icon>Cancel</a>
  <a mat-flat-button color="accent" routerLink="/song/playlist/{{playlist?.playlistId}}" *ngIf="!isNew()"><mat-icon>list</mat-icon>Show</a>
</form>
<hr/>
<mat-accordion [multi]="true" *ngIf="kind===KIND_QUERY">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Available fields
      </mat-panel-title>
    </mat-expansion-panel-header>
    <button mat-button (click)="queryAdd('album')">album</button>
    <button mat-button (click)="queryAdd('artist')">artist</button>
    <button mat-button (click)="queryAdd('song')">song</button>
    <button mat-button (click)="queryAdd('genre')">genre</button>
    <button mat-button (click)="queryAdd('duration')">duration</button>
    <button mat-button (click)="queryAdd('year')">year</button>
    <button mat-button (click)="queryAdd('track')">track</button>
    <button mat-button (click)="queryAdd('path')">path</button>
    <button mat-button (click)="queryAdd('bitrate')">bitrate</button>
    <button mat-button (click)="queryAdd('samplerate')">samplerate</button>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Available logical operations
      </mat-panel-title>
    </mat-expansion-panel-header>
    <button mat-button (click)="queryAdd('==')">==</button>
    <button mat-button (click)="queryAdd('!=')">!=</button>
    <button mat-button (click)="queryAdd('>')">&gt;</button>
    <button mat-button (click)="queryAdd('>=')">&gt;=</button>
    <button mat-button (click)="queryAdd('<')">&lt;</button>
    <button mat-button (click)="queryAdd('<=')">&lt;=</button>
    <button mat-button (click)="queryAdd('&&')">&amp;&amp;</button>
    <button mat-button (click)="queryAdd('||')">||</button>
  </mat-expansion-panel>
</mat-accordion>
