<div class="artist">
  <mat-form-field>
    <mat-placeholder>
      <mat-icon>search</mat-icon>
    </mat-placeholder>
    <input matInput #input>
  </mat-form-field>

  <mat-grid-list [cols]="mobileQuery.matches ? 2 : 6" rowHeight="1:1">
    <mat-grid-tile *ngFor="let album of albums">
      <a routerLink="/song/album/{{album.albumId}}"><img [src]="cover(album)" class="cover"></a>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-paginator #paginator
                 [length]="total"
                 [pageSize]="pageSize"
                 [pageIndex]="pageIndex"
                 [pageSizeOptions]="pageSizeOptions"
                 [showFirstLastButtons]="true">
  </mat-paginator>
</div>
